#left{
display: inline-block;


}
#headerLogo1{
    font-family: 'MonteCarlo', cursive;
   font-size: 30px;
   font-weight: bold;
   position: relative;
   left: 55px;
   bottom: 45px;
   
} 
#headerLogo2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    position: relative;
    bottom: 45px;
    left: 50px;

}
#right{
    float:right ;
    position: relative;
    top: 15px;
}

#outline{
    background-repeat: repeat;
    background: url("/hr-img.png");
    
}

#footerOutline    {
    background-repeat: repeat;
    background: url("/hr2.png.png");
} 
/* #repeat{
    position: relative;
    top: 50px;
} */
#mainTitle1{
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

#mainTitle2{
    
    font-size: 13px;
}

body{
    padding: 250px;
}

#printLogo{
   float: right;
   position: relative;
   bottom: 40px;
   right: 35px;



   
}
#print{
    float: right;
    position: relative;
    font-size: 10px;
    bottom: 40px;
    left: 11px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

#mainPic{
width:100%;
position:relative

}
#mainPara{
text-align: center;
padding:20px;


}
#list{
    width:100%;

}

#firstUl{
position:relative;
bottom: 200px;
left:50px;

}
#secUl{
    position:relative;
    bottom: 300px;
    right:100px;
    float:right;
    }

    h3{
  font-size: 20px;
  font-weight: bold;

    }
 #vanessa{
     position:relative;
     left:80px;
     bottom: 50px;
 }

 button{
     background-color:brown;
     float: right;
     position:relative;
     bottom: 30px;
     right:100px;
     padding: 10px;
 }
 #lastLogo{
 position:relative;
 left:400px;
 padding-bottom: 20px;
 opacity:0.5;


 }
#copyR{
position:relative;
left: 320px;

}